<input type="button" class="btn btn-primary" value="Book" (click)="showModal()"/>

<div class="container" *ngIf="display">
    <div class="row">
        <div class="col-md-3 col-md-offset-4 col-sm-3 col-sm-offset-4  bookingPrompt">
            <div class="row header">
                <div class="col-md-10 col-sm-9 col-xs-9">
                    <h5>Book a cheese</h5>
                </div>
                <div class="col-md-1 col-sm-1 col-sm-1">
                    <button class="btn closeBtn" (click)="closeModal()">x</button>
                </div>
            </div>
            <div class="row">
                <form class="bookingForm">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" [(ngModel)]="user.email" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name" placeholder="Name">
                    </div>
                    <button type="submit" class="btn btn-kainos" (click)="bookCourse(course.course_id)">Submit</button>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>