.bookingPrompt{
    background-color: whitesmoke;
    box-shadow: 10px 10px 15px #888888;
}

.closeBtn{
    background: transparent;
}

.bookingForm{
    margin: 15%;
    margin-top:5%;
}

.header{
    background-color: lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.container{
    position: absolute;
    top: 28%;
    left: 7%;
}

.row.header {
    background-color: #FAFAFA;
    padding:10px;
}

.bookingPrompt {
    width:600px;
}

label {
    font-size:25px;
    color:#6E6E6E;
}

button[type=submit] {
    width:80%;
    margin-left:40px;
    padding:15px;
}

h4 {
    font-size:26px;
    color:#6E6E6E;
}

img {
    margin-left:130px;

}

.form-group{
    margin-bottom:10%;
}

.form-control {
    height:45px;
}